@media only screen and (max-width: 1300px) and (min-width: 991px) {
    .ser-content-box {
        height: 480px;
    }

    .social-links {
        width: 30%;
    }

    header.site-header .navigation .menu ul li {
        margin: 0 20px;
    }

    .bnr-btn p {
        padding: 0 10px 0 0;

    }
}

@media(max-width:1199px) {
    header.site-header .navigation .menu ul {

        width: 65%;

    }

    .social-links {
        width: 35%;
    }

    header.site-header .navigation .menu ul li {
        margin: 0 15px;
    }

    .banner-wrapper .bnr-text h1 {
        font-size: 50px;

    }

    .site-banner {
        padding: 100px 0;

    }
}

@media (max-width:991px) {
    .search-engine.billboard {
        padding: 0px 0px 0 0;
    }

    .site-banner {
        padding: 60px 0;
    }

    .banner-wrapper .bnr-text h1 {
        font-size: 28px;
        line-height: 43px;
    }

    .banner-wrapper .bnr-text p {
        font-size: 16px;

    }

    span.close i {
        color: #fff;
        font-size: 20px;
    }

    .social-links {
        margin-left: 25px;
    }

    span.close {
        position: absolute;
        right: 28px;
        top: 17px;
        display: block;
    }

    .item-wrapper {
        padding: 50px 10px 80px;
    }

    /* .ser-content-box {
        height: auto;
    } */

    span.mobile-button {
        display: block;
    }

    .social-links ul li a {

        display: flex !important;

    }

    span.mobile-button i {
        color: var(--menu);
        font-size: 27px;
    }

    header.site-header .navigation .menu {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background: linear-gradient(194deg, rgba(1, 85, 153, 1) 0%, rgba(2, 159, 157, 1) 100%);
        width: 60%;
        align-items: self-start;
        height: 100vh;
        justify-content: flex-start;
        transition: all .3s ease;
        transform: translateX(-700px);
        z-index: 9999999;
    }

    header.site-header .navigation .menu ul li a {
        color: var(--white);
        padding: 20px 0;
        display: inline-block;
    }

    .menu.navigation_link.mobile-open {

        visibility: visible !important;
        opacity: 1 !important;
        transition: all .3s ease;
        transform: translateX(0px) !important;
        background: var(--black);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

    .menu.navigation_link.mobile-open ul {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .social-links ul {
        flex-direction: row !important;
    }

    section.site-banner .text h1 {

        font-size: 38px;
        padding: 0 20px;
    }

    section.site-banner .banner-wrapper {
        height: 600px;
    }

    .choose-inr .row .col-lg-4.col-md-6:nth-child(3) {
        margin-top: 40px;
    }

    .content-wrapper {
        width: 100%;
    }

    .wrapper-for-arrows {
        width: 100%;

    }

    nav.footer-links ul {
        display: flex;
        flex-direction: column;
    }

    nav.footer-links ul li {
        border-bottom: none;
    }

    section.amarach {
        padding: 30px 20px;
    }

    section.amarach .amarach-text h2 {
        font-size: 26px;

    }

    .text {

        z-index: 999;
    }

    .partner-iner .row {
        flex-direction: column-reverse;
    }

    .bnr-btn {
        display: flex;

        justify-content: flex-start;
    }

    .search-engine.noted {
        padding: 0 0 0 0px;
        margin: 0px 0 0 0;
    }

    .social-links {
        width: 100%;
    }

    .bnr-btn a {
        color: var(--white);
        font-size: 16px;
        border: 1px solid var(--white) !important;
        padding: 11px 24px;
        transition: all 0.3s ease;
    }

    .bnr-btn p {
        color: var(--white);
    }

    .partner-words p {

        max-width: 100%;

    }
}

@media (max-width:767px) {
    .choose-inr .row .col-lg-4.col-md-6:nth-child(2) {
        margin-top: 40px;
    }

    .ser-content-box {
        height: auto;
    }

    header.site-header .navigation .menu {
        width: 90%;
    }

    section.site-banner .text h1 {
        font-size: 28px;
        padding: 0 10px;
    }

    section.site-banner .banner-wrapper {
        height: 500px;
    }

    .contact-text h3 {
        font-size: 28px;
    }

    .aboutsection .about-iner h2 {
        font-size: 30px;
    }

    .wrapper-box h3 {
        font-size: 26px;
    }

    .service-iner h2 {
        font-size: 30px;
    }

    .search-engine h3 {
        font-size: 26px;
    }

    section.partner-section h2 {
        font-size: 30px;
    }

    .form_wrap h3 {
        font-size: 30px;
    }
}

@media (max-width:575px) {
    .item-wrapper h2 {
        font-size: 28px;
    }

    section#service {
        padding: 80px 0px 0 0;
    }
}